@mixin display-flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

.portfolio{
    grid-area:3/1/4/3 ;
    padding: 1.5rem;
    @include display-flex(column, center, center);
    gap: 1rem;

    &__head{
        @include display-flex(row, center, center);
        gap: 12rem;
        height: 10%;
        width: 100%;

        &__title{
            margin:0 2.0rem 0 0;
            font-size:1.2rem ;
            font-weight: 600;
        }

        &__value{
            font-size: 0.9rem;
        }
    }

    &__data{
        @include display-flex(row,space-around,center);
        height: 90%;
        width: 100%;
        gap: 3rem;

        &__circle{
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            background-color: rgb(207, 99, 99);
        }

        &__list{
            @include display-flex(column, space-between, flex-start);
            height: 5rem;

            &__item{
                @include display-flex(row, center, center);
                gap: 1rem;

                &__pointer{
                    height: 1rem;
                    width: 1rem;
                    background-color: red;
                    border-radius: 50%;
                }
            }
        }

    }
}