$--portfolio-color1: #50a3f0;
$--portfolio-color2: #f98e8e;
$--portfolio-color3: #5ac8ae;

$--portfolio-pie-degree-1: 90deg;
$--portfolio-pie-degree-2: 90deg;

@mixin display-flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

.portfolio {
	grid-area: 3/1/4/3;
	padding: 1.5rem;
	@include display-flex(column, center, center);
	gap: 1rem;

	&__head {
		@include display-flex(row, center, center);
		gap: 13rem;
		height: 10%;
		width: 100%;

		&__title {
			font-size: 1.2rem;
			font-weight: 600;
		}

		&__value {
			font-size: 0.9rem;
		}
	}

	&__data {
		@include display-flex(row, space-around, center);
		height: 90%;
		width: 100%;
		gap: 3rem;

		&__circle {
			width: 8rem;
			height: 8rem;
			border-radius: 50%;
			@include display-flex(row, center, center);
			overflow: hidden;
			background-image: conic-gradient(
				$--portfolio-color1 0deg,
				$--portfolio-color1 $--portfolio-pie-degree-1,
				$--portfolio-color2 $--portfolio-pie-degree-1,
				$--portfolio-color2 ($--portfolio-pie-degree-1 + $--portfolio-pie-degree-2),
				$--portfolio-color3 ($--portfolio-pie-degree-1 + $--portfolio-pie-degree-2)
			);
		}

		&__list {
			@include display-flex(column, space-between, flex-start);
			height: 5rem;

			&__item {
				@include display-flex(row, center, center);
				gap: 1rem;

				&__pointer {
					height: 1rem;
					width: 1rem;
					border-radius: 50%;
				}

				.pointer1 {
					background-color: $--portfolio-color1;
				}
				.pointer2 {
					background-color: $--portfolio-color2;
				}
				.pointer3 {
					background-color: $--portfolio-color3;
				}
			}
		}
	}
}
@media only screen and (max-width:500px){

	.portfolio {
		grid-area: 5/1/6/3;
		&__head{
			gap: 5rem;
		}
	}

}