@mixin display-flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
@mixin scroll-bar {
	&::-webkit-scrollbar {
		width: 0.3rem;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #ede5e5;
		border-radius: 0rem 0.2rem 0.2rem 0rem;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #5a4e4e;
		border-radius: 0rem 0.2rem 0.2rem 0rem;
		cursor: pointer;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #921616;
	}
}

.chart {
	grid-area: 1/1/2/3;
	padding: 0.3rem 1.5rem 2rem 1.5rem;
	display: grid;
	grid-template-columns:12% 43% 45%;
	grid-template-rows: 15% 85%;
	gap: 0.5rem;

	&__currency-dropdown{
		grid-area: 1/1/2/2;
		@include display-flex(row, center, center)
	}
	// time period

	&__time-period {
		grid-area: 1/2/2/3;
		@include display-flex(row, flex-end, center);
		gap: 0.5rem;

		&__item {
			width: 3.5rem;
			height: 2.2rem;
			@include display-flex(row, center, center);
			padding: 0.5rem;
			border-radius: 0.3rem;
			border: 0.01rem solid rgba(0, 0, 0, 0.2);
			cursor: pointer;
		}
	}

	// dropdown list 
	&__drop {
		grid-area: 1/3/2/4;
		width: auto;
		height: 100%;
		@include display-flex(row, center, center);
		gap: 1rem;
		user-select: none;

		& > div {
			height: 2.8rem;
			border-radius: 0.4rem;
			padding: 0.5rem 1rem;
			box-shadow: 0.1rem 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.5);
			@include display-flex(row, space-between, center);
			cursor: pointer;

			&:hover {
				box-shadow: 0.15rem 0.15rem 0.25rem 0 rgba(0, 0, 0, 0.5);
			}
		}


		&__crypto {
			width: 12rem;

			& input[for="crypto"] {
				font-size: 1rem;
				width: 100%;
				height: 100%;
				background-color: transparent;
				outline: none;
				border: none;
			}

			&__list {
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				position: absolute;
				transform: translate(-1rem,6rem);
				overflow-y: scroll;
				max-width: 9rem;
				max-height: 7.7rem;
				border-radius: 0.3rem;
				box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
				@include scroll-bar();
			}
		}

		&__chart-type {
			width: 12.5rem;
			margin-right: 1rem;

			
			& input[for="chartType"] {
				font-size: 1rem;
				width: 100%;
				height: 100%;
				background-color: transparent;
				outline: none;
				border: none;
			}

			&__list {
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;

				position: absolute;
				overflow-y: scroll;
				transform: translate(-1rem,6rem);
				width: 9rem;
				max-height: 7.7rem;
				border-radius: 0.3rem;
				box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
				@include scroll-bar();
			}
		}
	}

	&__graph {
		grid-area: 2/1/3/4;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.chart {
		grid-area: 2/1/3/3;
		grid-template-columns: 100%;
		grid-template-rows: 20fr 75fr 20fr;
		padding: 0.2rem;

		&__time-period {
			grid-area: 3/1/4/2 ;
			width: 100%;
			flex-direction: row;
			justify-content: center;

			&__item {
				height: 2rem;
				width: 2.5rem;
			}
		}

		&__drop {
			grid-area:1/1/2/2 ;
			width: 100%;
			gap: 0.5rem;
			justify-content: flex-end;

			& > div {
				height: 2rem;
				font-size: 0.8rem;
			}

			&__crypto {
				width: 6rem;

				&__list {
					width: 5.2rem;
				}
			}

			&__chart-type {
				width: 7.8rem;

				&__list {
					width: 7rem;
				}
			}
		}

		&__graph {
			grid-area:2/1/3/2 ;
			justify-self: center;
			width: 90%;
			height: 100%;
		}
	}
}
