@mixin display-flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
@mixin scroll-bar {
	&::-webkit-scrollbar {
		width: 0.3rem;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #ede5e5;
		border-radius: 0rem 0.2rem 0.2rem 0rem;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #5a4e4e;
		border-radius: 0rem 0.2rem 0.2rem 0rem;
		cursor: pointer;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #921616;
	}
}
.exchange-coins {
	grid-area: 2/2/3/3;
	padding: 1.5rem 3rem 1.5rem 3rem;
	display: grid;
	grid-template-columns:calc(60% - (1.5rem / 2)) calc(40% - (1.5rem / 2));
	grid-template-rows: 2.5rem 15fr 15fr 02fr;
	gap: 0.5rem;
	column-gap: 1.5rem;

	&__title {
		grid-area: 1/1/2/3;
		margin: 0 2rem 0 0;
		font-size: 1.2rem;
		font-weight: 600;
		@include display-flex(row, flex-start, center);
	}

	&__sell {
		grid-area: 2/1/3/2;
		margin-top: auto;
		@include display-flex(column, center, flex-start);
		gap: 0.5rem;

		&__drop {
			width: 7rem;
			border-radius: 0.3rem;
			padding: 0.5rem;
			@include display-flex(row, space-between, center);
			gap: 0.5rem;
			box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
			cursor: pointer;

			&:hover {
				box-shadow: 0.13rem 0.13rem 0.2rem rgba(0, 0, 0, 0.5);
			}
			& input[for="sell"] {
				font-size: 1rem;
				width: 100%;
				height: 100%;
				background-color: transparent;
				outline: none;
				border: none;
			}
			&__list {
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;

				position: absolute;
				overflow-y: scroll;
				transform: translate(-0.5rem,5rem);
				width: 9rem;
				height: 6rem;
				border-radius: 0.3rem;
				box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
				@include scroll-bar();
				z-index: 55;
			}
		}
	}

	&__buy {
		
		grid-area: 2/2/3/3;
		@include display-flex(column, center, flex-start);
		gap: 0.5rem;
		margin-top: auto;

		&__drop {
			width: 7rem;
			border-radius: 0.3rem;
			padding: 0.5rem;
			box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
			cursor: pointer;
			@include display-flex(row, space-between, center);

			&:hover {
				box-shadow: 0.13rem 0.13rem 0.2rem rgba(0, 0, 0, 0.5);
			}

			& input[for="buy"] {
				font-size: 1rem;
				width: 100%;
				height: auto;
				background-color: transparent;
				outline: none;
				border: none;
			}

			&__list {
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;

				position: absolute;
				overflow-y: scroll;
				transform: translate(-0.5rem,5rem); 
				width: 9rem;
				height: 6rem;
				border-radius: 0.3rem;
				box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
				@include scroll-bar();
				z-index: 55;
			}
		}
	}

	&__enter-sellValue {
		grid-area: 3/1/4/2;
		@include display-flex(column, flex-end, flex-start);

		& label[for="sell"] {
			opacity: 0.5;
			font-size: 0.9rem;
			margin-bottom: 0.5rem;
		}

		& input[for="sell"] {
			width: 100%;
			border: none;
			border-radius: 0.3rem;
			padding: 0.5rem 0.5rem;
			font-size: 1.05rem;
		}
		& input[for="sell"]:focus {
			outline: none;
		}
	}
	&__get-buyValue {
		margin: auto;
		grid-area: 3/2/4/3;
		@include display-flex(column, flex-end, flex-start);
		width: 100%;
		height: 100%;
		border: none;
		border-radius: 0.3rem;
		font-size: 1.05rem;

		& div{

			padding: 0.5rem 0.5rem;
		}

		& label[for="sell"] {
			opacity: 0.5;
			font-size: 0.9rem;
			margin-bottom: 0.5rem;
		}

	}

}
@media only screen and (max-width: 600px) {
	.exchange-coins {
		grid-area: 3/1/4/2;
	}
}

@media only screen and  (min-width:600px) and  (max-width:950px){
	.exchange-coins {
		grid-area: 3/1/4/2;
	}
}