@mixin display-flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

.market-cap {
	width: auto;
	grid-area: 1/4/4/5;
	overflow: hidden;

	&__title {
		position: sticky;
		top: 0;
		width: 100%;
		padding: 1.5rem 1.5rem 3rem 1.5rem;
		font-size: 1.2rem;
		font-weight: 600;
	}

	&__items {
		height: 80%;
		overflow: scroll;
		scroll-snap-type: y mandatory;
		&::-webkit-scrollbar {
			display: none;
		}

		& > div {
			scroll-snap-align: start;
			scroll-margin-top: 0;
		}
	}
	
}
@media only screen and (max-width:500px){

	.market-cap {
		grid-area: 3/1/4/3;

		&__title{
			text-align: center;
			width: 100%;
			padding: 1rem;
		}
	}

}