@mixin display-flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

.market-cap {
	width: auto;
	grid-area: 1/3/3/4;
	padding-top: 0.5rem;
	overflow: hidden;
	@include display-flex(column, flex-start, center);
	gap: 0.5rem;
	&__items {
		width:100%;
		height: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}		
	}
}
@media only screen and (max-width: 500px) {
	.market-cap {
		grid-area: 2/1/3/2;
	}
}
