.coin-search{
    grid-area:1/2/2/4 ;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__search-icon{
        margin: 0.4rem 0 0 1rem;
        font-size: 1.3rem;
    }

    &__input{
        position: relative;
        width: 80%;
        height: 100%;
        border: none;
        padding: 1rem;
        font-size: 1.1rem;

        &:focus{
            outline: none;
        }
    }

    &__modeBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem ;
        height: 100%;
        font-size: 2rem;
        margin-left: auto;
        cursor: pointer;
    }
}

@media only screen and  (max-width:500px){

   .coin-search {
	grid-area: 1/2/2/3;

    &__search-icon{
        margin: 0rem 0 0 0.6rem;
    }
    &__input{
        font-size: 0.9rem;
        padding: 0.5rem;
    }
    &__modeBtn{
        font-size: 1.5rem;
    }
    }
}