
.dashboard{
    width: 100vw;
    height: 100vh;
    background-color: #5189aa;
    display: grid;
    place-content: center;

    // overflow: scroll;
    grid-template-columns: 33rem 33rem 24rem;
    grid-template-rows: 25rem 18rem ;
    gap: 0.3rem;

    &>div{
        
        border-radius: 0.4rem;
        box-shadow: 0.1rem 0.1rem 0.2rem 0rem rgba(16, 12, 12,0.5);
        
    }
}

@media only screen and  (max-width:500px){

    .dashboard{  
    grid-template-columns: 100%;
    grid-template-rows: 43vh 82vh 40vh 40vh ;
    height: auto;
    // padding:0.5rem;
    width: 100%;
    gap: 0rem;

    &>div{
        border-radius: 0;
        border-bottom: 0.1rem solid rgba(11, 19, 27,0.3);
        box-shadow: 0rem 0rem 0rem 0rem rgba(16, 12, 12,0.5);
    }
    }
}
