
.dashboard{
    width: 100vw;
    height: 100vh;
    background-color: #5189aa;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 1rem;

    // overflow: scroll;
    grid-template-columns: minmax(33vw,33rem)  minmax(33vw,33rem) minmax(28vw ,24rem);
    grid-template-rows: 25rem 18rem ;
    gap: 0.3rem;

    &>div{
        
        border-radius: 0.4rem;
        box-shadow: 0.1rem 0.1rem 0.2rem 0rem rgba(16, 12, 12,0.5);
        
    }

    &__blurscreen{
        position: absolute;
        background-color: rgb(3, 3, 3);
        opacity: 0.5;
        filter: blur(10px);
        width: 100%;
        height: 100%;
        z-index: 65;
    }
}

@media only screen and  (max-width:600px){

    .dashboard{  
    grid-template-columns: 100vw;
    grid-template-rows: 43vh 82vh;
    height:auto;
    padding:0rem;
    width: 100%;
    gap: 0rem;
    overflow: hidden;


    &>div{
        border-radius: 0;
        border-bottom: 0.1rem solid rgba(11, 19, 27,0.3);
        box-shadow: 0rem 0rem 0rem 0rem rgba(16, 12, 12,0.5);
        transition: all 0s;
    }
    }
}


@media only screen and  (min-width:600px) and  (max-width:950px){
     .dashboard{  
    grid-template-columns: 55% 45% ;
    grid-template-rows: minmax(43vh,25rem)  minmax(30vh,20rem) minmax(30vh,20rem) ;
    height: auto;
    padding:0rem;
    width: 100%;
    gap: 0rem;

    &>div{
        border-radius: 0;
        border-bottom:0;
        box-shadow: 0rem 0rem 0rem 0rem rgba(16, 12, 12,0.5);
    }
    }
}