@import url("https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Poppins:wght@200;300&family=Roboto+Condensed&family=Roboto:wght@300;500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", Courier, monospace;
	font-weight: 400;
	user-select: none;
	overflow-x: scroll;
}
html {
	font-size: 16px;
}
i {
	font-size: 1.3rem;
	cursor: pointer;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: unset;
}

.bg-dark {
	background-color: rgb(10, 10, 54);
}
.bg-light {
	background-color: white;
}

.text-light {
	color: white;
}
.text-dark {
	color: black;
}

.text-change-minus {
	color: rgb(239, 126, 60);
}
.text-change-plus {
	color: rgb(49, 244, 127);
}

.bg-dropdown-dark {
	background-color: rgb(7, 44, 88);
}
.bg-dropdown-light {
	background-color: rgb(252, 247, 247);
}

.bg-timePeriod-dark {
	background: linear-gradient(135deg, #0a2861, hsl(235, 54%, 21%));
	&:hover{
		background: linear-gradient(135deg, #132e61, hsl(237, 41%, 25%));

	}
}
.bg-timePeriod-light {
	background: linear-gradient(135deg, #d8dbe0, #ffffff);
}


.bg-droplist-light{
	background-color: white;
	&:hover{
		background-color: #dfe9fd;
	
	}
}
.bg-droplist-dark{
	background-color: #071736;
	
	&:hover{
		background-color: #123170;

	}
}

@media only screen and (max-width:500px){
	body{
		font-size: 12px;
	}
}