@import url("https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Poppins:wght@200;300&family=Roboto+Condensed&family=Roboto:wght@300;500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


:root{
	font-size: 16px;
}

body {
	font-family: "Roboto", Courier, monospace;
	font-weight: 400;
	user-select: none;
	// overflow: hidden;
}
i {
	font-size: 1.3rem;
	cursor: pointer;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: unset;
}

.bg-dark {
	background-color: #07182d;
	transition: all 0.4s;
}
.bg-light {
	background-color: #f0f7f7;
	transition: all 0.4s linear;
}

.text-light {
	color: rgb(248, 229, 228);
	transition: all 0.4s linear;
}
.text-dark {
	color: rgb(9, 59, 64);
	transition: all 0.4s linear;
}
.text-modebtn-light {
	
        color: rgb(255, 99, 132);
		transition: all 0.4s linear;
}
.text-modebtn-dark {
	
        color: rgb(255, 99, 132);
		transition: all 0.4s linear;
}

.text-change-minus {
	color: #EB455F;
}
.text-change-plus {
	color: #03C988;
}

// drop box 
.bg-dropdown-dark {
	background-color: #14446b;
	transition: all 0.4s linear;
}
.bg-dropdown-light {
	background-color: #efdddd;
	transition: all 0.4s linear;
}

// drop list 
.bg-list-dark {
	background-color: #19476e;
}
.bg-list-light {
	background-color: #efdddd;
}

// drop list item 
.bg-list-item-dark {
	background-color: #0c375e;
}
.bg-list-item-light {
	background-color: #efdddd;
}

.bg-timePeriod-dark {
	background:  #174d79 ;
	transition: all 0.2s;
	&:hover{
		background: #183e5e;
	}
}
.bg-timePeriod-light {
	background: #cee5e6;
}



input{
	font-family: "Roboto", Courier, monospace;
}

@media only screen and (max-width:500px){
	:root{
		font-size: 16px;
	}
}